.game-over-notification-wrapper {
  text-align: center;
  position: absolute;
  font-size: 38px;
  font-weight: 625;
  top: 190px;
  left: 249px;
  width: 520px;
  .game-over-notification-button {
    position: absolute;
    left: 182px;
    bottom: -18px;
    height: 50px;
    width: 125px;
    font-weight: 500;
    font-size: 17px;
    border: 2px solid blueviolet;
    border-radius: 8%;
  }
}
