.button-wrapper {
  height: 50px;
  width: 82.5px;
  .game-button {
    height: 100%;
    width: 100%;
    color: rgb(54, 19, 19);
    border: 3px solid #7362cf;
    border-radius: 8%;
  }
  :hover {
    cursor: pointer;
    background: rgb(162, 193, 250);
  }
}
