.hand-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .scorebox {
    height: 40px;
    width: 40px;
    text-align: center;
    background: gray;
    font-weight: 600;
    font-size: 20px;
  }
  .cards-wrapper {
  }
}
.selected {
  border: 3px solid red;
}
