.bet-input-wrapper {
  position: relative;
  .bet-input {
    height: 36px;
    width: 112px;
    padding: 0px 0 0px 6px;
    font-size: 18px;
    background: lightblue;
  }
  .bet-input-button {
    height: 41px;
    width: 53px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 550;
    border-radius: 1px;
    &:hover {
      background: rgb(140, 176, 243);
      cursor: pointer;
    }
  }
  .error {
    position: absolute;
    bottom: 29px;
    left: -3px;
    color: rgb(189, 27, 27);
    font-size: 14px;
    font-weight: 800;
    white-space: nowrap;
  }
  .enter-a-bet-message {
    position: absolute;
    top: 27px;
    left: 4px;
    font-weight: 650;
    font-size: 16px;
  }
}
