.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .game-display-section {
    display: flex;
    width: 90%;
    height: 79%;
    border: 2px solid;
  }
  .control-panel-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 19%;
    border: 2px solid;
  }
}
