.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #7362cf;
  .game-display-section {
    display: flex;
    width: 89.5%;
    height: 69%;
    padding: 8px 2px 8px 2px;
    background: lightblue;
    border-radius: 3px;
  }
  .control-panel-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 22.5%;
    background: cornflowerblue;
  }
}
